
<hr>

<div class="row">

  <div class="col-xs-4">
    <ul class="list-group">
      <p
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients;">
        {{ ingredient.name }}: {{ ingredient.amount }} {{ingredient.unit}}
      </p>
    </ul>
  </div>
  <div class="col-xs-2"></div>
  <div class="col-xs-6">
    <p class="list-group-item"
       *ngFor="let orders of order">
      {{orders.orderStep}}
    </p>
  </div>
  <hr>
<!--  <app-shopping-edit></app-shopping-edit>-->
</div>

